<% if @classification == History::ACC_CLASS %>
    <%= render(file: 'public/acc.html') %>
<%elsif @classification == History::CCRC_CLASS%>
    <span>RAFA NO TAN LETAL</span>
    <%= render(file: 'public/ccrc.html')%>
<% end %>