<div class="box">
    <div class="col-lg-12">
        <hr>
        <h2 class="intro-text text-center">Surgimiento de la <strong>Asociaci&oacute;n de Cantineros de Cuba</strong>
        </h2>
        <hr>
        <p>Los cantineros asociados se distribuyeron por los diferentes establecimientos en los que trabajaban, otros se retiraron de la vida laboral y otros salieron del país. Mientras tanto, el Club se comenzó a utilizar con diferentes fines, pero ninguno de ellos relacionados con los cantineros ni el movimiento gastronómico nacional. A partir de enero de 1959, se conforma un Sindicato Nacional de Trabajadores Gastronómicos. Esto, desde luego no fue un obstáculo para que los cantineros cubanos continuaran realizando sus actividades y competencias, y creando numerosas recetas que se enmarcan en este contexto histórico.</p>
        <img class="img-responsive img-border img-left" width="150" src="<%= image_path('history/image11.jpg') %>" alt="">
        <hr class="visible-xs">
        <p>Posteriormente, en varias ocasiones intentaron afiliarse a un grupo afín con su actividad propia, logrando finalmente este objetivo el 4 de Marzo de 1998, en que fue reconstituida en coordinación con Havana Club el Club de Cantineros de Cuba, como una manera de dar continuidad a la labor realizada por los cantineros del antiguo Club, pero al año siguiente se le cambió el nombre por el de Asociación de Cantineros de Cuba, con legalidad jurídica en todo el territorio nacional, creándose en cada provincia, municipio o zona de interés turístico Órganos de Base que responden a una Dirección Nacional, contando hoy (2016) con 22, que responden a los intereses de los cantineros cubanos, siguiendo un código de ética y un objeto social que los rige.</p>
        <p>Nuestra Asociación está inscripta en el Folio 229 del Libro Primero del Registro de Asociaciones Nacionales del Ministerio de Justicia, con Expediente No. 256-00-3807, clasificada como de Interés Social, en virtud de la Resolución No. 2 del 6 de Febrero de 1998 de la Directora de Asociaciones, a solicitud del Ministerio del Turismo, su Órgano de Relaciones,  de conformidad con lo previsto en la Ley No. 54/85 de la Ley de Asociaciones, la que se encuentra vigente.  Pertenece a la Asociación Internacional de Bartenders (IBA), desde el 2001, siendo la organización número 46.</p>
        <img class="img-responsive img-border img-right" width="150" src="<%= image_path('history/image09.png') %>" alt="">
        <p>La ACC actualmente, cuenta con una Dirección Nacional  compuesta por:</p>
        <ul>
            <li>1 Presidente</li>
            <li>1 Vicepresidente</li>
            <li>1 Secretario</li>
            <li>1 Tesorero Nacional</li>
            <li>Esta DN atiende directamente los Órganos de Base de Artemisa, La Habana, Mayabeque, Matanzas, Varadero y Ciénaga</li>
            <li>4 Vocales Zonales que atienden:</li>

            <ul>
                <li>Occidental (OB´s Pinar del Río, Isla de la Juventud y Cayo Largo)</li>
                <li>Centro (OB´s Cienfuegos, Trinidad, Cayo Santa María, Villa Clara y Santi Spíritus)</li>
                <li>Centro Oriental (OB´s Ciego Avila, Camaguey, Las Tunas y Holguin)</li>
                <li>Oriental (Santiago de Cuba, Guantánamo, Granma, y Baracoa)</li>
            </ul>
            <li>3 Comisiones:</li>
            <ul>
                <li>Capacitación</li>
                <li>Categorización</li>
                <li>Jurados</li>
            </ul>
        </ul>
        <p>
            Reorganizados los cantineros, se comienza desde muy temprano un programa de
            Capacitación y Categorización de sus asociados. A tal efecto se realizan contactos con la
            Escuela de Formación del Ministerio del Turismo y se afilian nuestros profesores a la cátedra
            de gastronomía, impartiendo nuestros propios cursos con nuestros propios programas para
            formar según las actuales tendencias de la gastronomía y el turismo en nuestro país, así
            como las exigencias a nivel internacional, al nuevo cantinero cubano. Además tenemos
            confeccionado un plan piramidal de estudio psicopedagógico que reúne en si todos los
            objetivos a lograr para hacer del cantinero cubano un verdadero profesional y un ejemplo a
            imitar por sus compañeros.
        </p>
        <img style="margin-left: 20px" class="img-responsive img-border img-left" width="100" src="<%= image_path('history/image04.png') %>" alt="">
        <p>
            Su Patrocinador principal es Havana Club Internacional SA y por este
            motivo se trabaja por interés de la marca con su producto como base de
            los cocteles que elaboran los competidores a nivel nacional, pero de igual
            manera también se trabaja con otros rones y ligantes de otras marcas del
            país cada vez que se solicita, ya que como bien se plantea dentro del
            objeto social de la Asociación, la ACC contribuye al desarrollo de los productos nacionales y
            su imagen, tanto nacional como internacionalmente.
        </p>
        <p>
            Hemos sido capaces de organizar numerosos eventos regionales y nacionales de coctelería
            donde nuestros cantineros exponen el logro de la propia formación recibida en nuestros
            cursos, celebrando anualmente la Competencia Nacional Havana Club/Fabio Delgado In
            Memoria, desde la base hasta el nivel máximo, en homenaje a uno de los más grandes
            profesionales y profesores de nuestro país, el cual hizo muchos aportes para el rescate de la
            Asociación de Cantineros y al recetario de cocteles cubanos, desapareciendo físicamente el 7
            de febrero del 2003 como Miembro Honorario de nuestra organización.
        </p>
        <p>
            El ganador del 1er lugar de esta competencia, participa respectivamente cada dos años en el
            Grand Prix Internacional Havana Club y todos los años en el Campeonato Mundial y el que
            queda en 2do lugar, nos representa en la Competencia Panamericana convocada todos los
            años, la que incluye además la Copa de la Amistad y la Copa de Presidentes. Cuba asiste
            como miembro y Havana Club Cuba-Pernod Ricard, paga la cuota anual de la IBA y a la
            delegación que participa de la ACC, los gastos fundamentales de pasaje y alojamiento
            respectivamente.
        </p>
        <p>
            A partir de aquí comenzamos a conquistar uno tras otros logros obtenidos en un plazo
            relativamente corto, algunos de estos son los siguientes:
        </p>
        <ul>
            <li>En el 2000, 2002. 2004 y 2016, obtuvimos 1er lugar en el Grand Prix Havana Club
                Internacional en Cuba
            </li>
            <li>En el 2003 organizamos y celebramos el IV Coloquio Internacional de la IBA, en
                Ciudad Habana, obteniendo el primer lugar en la Copa Presidentes celebrada en el
                marco de esta actividad.
            </li>
            <li>
                En el 2003 conquistamos el primer lugar en la Copa del Mundo, el primer lugar en la
                Copa Panamericana estilo clásico y el tercer lugar estilo libre.
            </li>
            <li>
                En el 2006 obtuvimos el primer lugar en la Copa Panamericana de coctelería.
            </li>
            <li>
                En el 2008 celebramos en nuestro país el torneo Panamericano de coctelería,
                considerado hasta la fecha por la IBA como el mejor organizado.
            </li>
            <li>
                En el marco de este Panamericano conquistamos el primer lugar de la Copa
                Panamericana, el primer lugar de la Copa de la Amistad Panamericana y el primer
                lugar en la Copa Presidentes Panamericanos.
            </li>
            <li>
                En el 2009 volvimos a ganar la Copa Panamericana, la Copa de la Amistad y segundo
                lugar en la Copa Presidentes.
            </li>
            <li>
                En el 2011 conquistamos el segundo lugar en el I Torneo Iberoamericano de
                Coctelería.
            </li>
            <li>
                En el 2013 obtuvimos el más Técnico en el Estilo Clásico en la Copa Panamericana.
            </li>
            <li>
                En el 2016 nuevamente 1er lugar en el Grand Prix Havana Club Internacional en Cuba
            </li>
        </ul>
        <p>
            Además de estas competencias, Cuba representada por la ACC, ha participado en otros
            eventos internacionales en los que no se ha obtenido primeros lugares, pero sí han tenido
            una participación destacada y otros en los que no se ha podido participar por motivos ajenos
            a su voluntad, como son:
        </p>
        <ul >
            <li>
                <span>2002 en Eslovenia (Mundial) y &nbsp;Brasil (Panamericano)</span>
            </li>
            <li ><span>2004 en Estados Unidos (Mundial) No se particip&oacute; porque negaron las visas y Per&uacute; (Panamericano)</span>
            </li>
            <li ><span>2005 en Finlandia (Mundial) y Puerto Rico (Panamericano)</span>
            </li>
            <li><span>2006 en Puerto Rico (Mundial)</span>
            </li>
            <li><span>2007 en Grecia (Mundial) &nbsp;</span>
            </li>
            <li><span>2008 en Taiw&aacute;n (Mundial) No se particip&oacute; porque negaron las visas</span>
            </li>
            <li><span>2010 en Singapur (Mundial) y Puerto Rico (Panamericano)</span>
            </li>
            <li><span>2011 en Polonia (Mundial) </span>
            </li>
            <li><span>2012 en China (Mundial) y Per&uacute; (Panamericano)</span>
            </li>
            <li><span>2013 en Checoslovaquia (Mundial), M&eacute;xico (Evento de Tequila Olmeca de Pernod Ricard) </span>
            </li>
            <li><span>2014, en M&eacute;xico (Panamericano) y Sur &Aacute;frica (Mundial)</span>
            </li>
            <li><span>2015, en Argentina (Panamericano) y Bulgaria (Mundial)</span>
            </li>
        </ul>
        <p ><span>Debemos destacar que dentro del Recetario de Cocteles Internacionales de la IBA est&aacute;n incluidos los siguientes Cocteles Cubanos:</span></p>
        <ul>
            <li >
                <span>En la IBA Mundial: Cuba Libre, Daiquir&iacute;, Mojito (Cocteles Cl&aacute;sicos Cubanos) y Ad&aacute;n y Eva (C&oacute;ctel ganador de Mundial)</span>
            </li>
            <li><span>En la IBA Panamericana: Coh&iacute;ba Dry, Ocaso, Sabor Melod&iacute;a y Havana Fusi&oacute;n (Cocteles ganadores de Panamericanos) </span></li>
        </ul>
        <p>
            Tambi&eacute;n existen en las provincias competencias espec&iacute;ficas de los territorios, que sirven para medir el talento de los profesionales del bar y prepararse para los eventos nacionales e internacionales. Ejemplos de ellos:
        </p>
        <ul>
            <li><span>Master Class Giraldilla de La Habana, con Chivas Regal</span></li>
            <li><span>Master Class Ginebra Beffeater, en La Habana</span></li>
            <li><span>Master Class Tradiciones Varadero en Playa Varadero, con Tequila Olmeca</span></li>
            <li><span>Master Class Jardines del Rey en Ciego de &Aacute;vila, con Vodka </span></li>
            <li><span>La Guantanamera en Guant&aacute;namo, </span></li>
            <li><span>El Constantino Ribalaigua en Matanzas</span></li>
        </ul>
        <p><span>Hemos celebrado hasta la fecha con excelente organizaci&oacute;n y buenos resultados 18 Asambleas Nacionales. La ACC cuenta con 22 &Oacute;rganos de Base, para un potencial de afiliados de m&aacute;s de 2500 miembros, donde una gran representaci&oacute;n de estos son mujeres, divididos en:</span></p>
        <table style="margin-left: 30px;">
            <tr><td>1. Isla de la Juventud</td> <td style="padding-left: 40px">2. Cayo Largo del Sur</td></tr>
            <tr><td>3. Pinar del Río</td> <td style="padding-left: 40px">4. Artemisa</td></tr>
            <tr><td>5. Mayabeque</td> <td style="padding-left: 40px">6. La Habana</td></tr>
            <tr><td>7. Matanzas</td> <td style="padding-left: 40px">8. Varadero</td></tr>
            <tr><td>9. Ciénaga</td> <td style="padding-left: 40px">10. Cienfuegos</td></tr>
            <tr><td>11. Trinidad</td> <td style="padding-left: 40px">12. Villa Clara</td></tr>
            <tr><td>13. Cayo Santa María</td> <td style="padding-left: 40px">14. Santi Spíritus</td></tr>
            <tr><td>15. Ciego de Ávila</td> <td style="padding-left: 40px">16. Camagüey</td></tr>
            <tr><td>17. Las Tunas</td> <td style="padding-left: 40px">18. Granma</td></tr>
            <tr><td>19. Guantánamo</td> <td style="padding-left: 40px">20. Holguín</td></tr>
            <tr><td>21. Baracoa</td> <td style="padding-left: 40px">22. Santiago de Cuba</td></tr>
        </table>

        <p>
            Contamos adem&aacute;s con un grupo de Profesores Adjuntos que imparten Cursos en Pa&iacute;ses
            de Am&eacute;rica Latina a solicitud de sus asociaciones a trav&eacute;s de la IBA y se&ntilde;alamos
            que el Presidente que fung&iacute;a en el anterior mandato, del 2006 al 2009 fue responsable de la
            Capacitaci&oacute;n de la IBA para la parte de Am&eacute;rica. &nbsp;Adem&aacute;s, la Academia de
            Havana Club de conjunto con la Asociaci&oacute;n de Cantineros de Cuba ha desarrolla Talleres con una
            duraci&oacute;n de m&aacute;s de 6 meses, a lo largo del pa&iacute;s, dentro del sector estatal y privado.
        </p>
        <p>
            En la Nueva Estrategia de Consumo de 7 A&ntilde;os con nuevas Esencias, que llev&oacute; a cabo HCI
            tambi&eacute;n tuvimos incidencia, pues se presentaron nuevos cocteles en encuentros con miembros de
            la ACC y algunos campeones.
        </p>
        <p>
            Nuestra escuela cubana de cocteler&iacute;a es hoy admirada y respetada por todos los pa&iacute;ses
            miembros de la IBA. El barman cubano es una figura internacional muy querida y valorada sobre todo
            por sus altos conocimientos te&oacute;ricos y sus habilidades pr&aacute;cticas, catalogado entre
            los m&aacute;s t&eacute;cnicos a nivel internacional.
        </p>
        <p>
            Existen Convenios de Trabajo y colaboraci&oacute;n firmados por la Asociaci&oacute;n de Cantineros de
            Cuba con diferentes Instituciones de inter&eacute;s, &nbsp;af&iacute;n con nuestro objeto social, como
            son:
        </p>
        <ul>
            <li><span>Escuela de Hoteler&iacute;a y Turismo (FORMATUR)</span></li>
            <li><span>Normas de Relaciones con el Ministerio del Turismo (MINTUR)</span></li>
            <li><span>Havana Club Internacional S.A. (Sponsor principal) </span></li>
            <li><span>INSTITUTO DE FARMACIA Y ALIMENTOS (IFAL), de la Universidad de la Habana</span></li>
            <li><span class="c8">Alimentos y Bebidas La Estancia, S.A</span></li>
            <li><span>Proyecto Social Moneda Cubana</span></li>
            <li><span>Escuela de Comercio y Gastronom&iacute;a de San Jos&eacute; de las Lajas</span></li>
            <li><span>Escuela de Bartenders de La Habana</span></li>
            <li><span>ARTEX</span></li>
        </ul>
        <p >
            No somos un grupo de locos que se dedican a mezclar bebidas y emborrachar clientes, sino
            todo lo contrario, somos trabajadores del sector gastron&oacute;mico y los servicios que precisamente nos
            organizamos para complementar nuestra preparaci&oacute;n integral y formaci&oacute;n profesional,
            promoviendo la cocteler&iacute;a como una forma m&aacute;s exquisita e inteligente en el consumo del
            alcohol.
        </p>

    </div>
</div>