<div class="box">
    <div class="col-lg-12">
        <hr>
        <h2 class="intro-text text-center">Historia del <strong>Club de Cantineros de la Rep&uacute;blica de Cuba</strong>
        </h2>
        <hr>
        <p class="c0">
            Parece cosa sencilla fundar una asociaci&oacute;n o club, y en efecto lo es, pero implica mucho trabajo y
            aporte de iniciativas, que la mayor&iacute;a de las veces mueren en flor, por falta de elementos y otros
            in-convenientes que, naturalmente, surgen en toda empresa y m&aacute;s, si esta es colectiva.
        </p>
        <p class="c0">
            A pesar de todos los obst&aacute;culos y circunstancias, despu&eacute;s de logrado, siempre hay quienes
            buscan la unificaci&oacute;n de fuerzas, por estimarlo indispensable a la defensa de la organizaci&oacute;n
            y su prosperidad. Y esto, fue lo que iniciaron, con un creciente y plausible &eacute;xito, un grupo de
            inteligentes y laboriosos cantineros, con ansias de dignificaci&oacute;n, apoy&aacute;ndose en el resto de
            sus camaradas; apoyo mutuo que estimaban necesario para la defensa de sus intereses.
        </p>
        <p>
            En los años 20 del siglo pasado, existía una organización que agrupaba en su seno a los
            empleados gastronómicos era la Unión de Empleados de Café, la cual comenzó a tener
            grandes divisiones entre sus miembros por diferentes criterios políticos y sociales, lo que dio
            paso a su desintegración total
        </p>
        <img class="img-responsive img-border img-left" width="200" src="<%= image_path('history/image01.jpg') %>" alt="">
        <hr class="visible-xs">
        <p>
            El cantinero MANUEL BLANCO CUÉTARA, que en aquel entonces
            había sido expulsado de esa organización por desacuerdos,
            fue el primero que pensó en crear una Asociación Fraternal
            de Cantineros de la República de Cuba, junto a CRISTÓBAL
            ALONSO, JOSÉ PERALES y JOSÉ CUERVO. Esta idea se fue
            transmitiendo a otros cantineros de la capital e inicialmente
            a modo de esbozo y de las manos del propio Manuel Blanco,
            crean un primer Reglamento que los regiría.
        </p>
        <p>
            El 28 de mayo de 1924 alrededor de 10 o 12 interesados se
            reúnen para constituir una colectividad exclusiva de los
            cantineros con carácter deportivo y social y la misma queda
            aprobada.
        </p>
        <p>
            Posteriormente, el 5 de junio, vuelven a reunirse, pero ya con una mayor cifra de personas
            interesadas. Presidió la reunión el mismo José Cuervo y como secretario Cristóbal Alonso;
            se da a conocer la propuesta del nuevo Reglamento que fue discutido y aprobado con
            algunas modificaciones y José Cuervo planteó correr él mismo con los gastos indispensables
            para adquirir materiales, mobiliario y productos necesarios para la apertura, para no
            depender de comerciantes e industriales aunque fueran buenos amigos y que
            posteriormente le devolvieran su inversión poco a poco. En esa misma reunión se acuerda
            enviar el Reglamento aprobado a las Oficinas del Gobernador de la Ciudad para la
            aprobación del Club, lo que motiva convocar una nueva reunión para el 27 de junio de 1924,
            fecha en la que se constituye oficialmente el <strong>C​LUB DE ​C​ANTINEROS DE LA ​R​EPÚBLICA DE ​C​UBA</strong>​, la
            que a los seis meses de creada, contaba con ciento veinte y un miembros, muchos de ellos
            españoles radicados en Cuba.
        </p>
        <img class="img-responsive img-border img-right" width="350" src="<%= image_path('history/image16.jpg') %>" alt="">
        <hr class="visible-xs">

        <p>
            En el primer Reglamento se planteaba que esta organización sería una cooperativa de recreo y
            deportes; pero cuán lejos estaban sus afiliados de pensar que aquella idea inicial se convertiría
            a lo largo de los años en una entidad obrera,siendo un verdadero centro de apoyo al cantinero cubano.
        </p>
        <p>
            Los “Socios Protectores” fundadores del Club fueron: Francisco Domínguez, Nueva Fábrica de
            Hielo, S.A., la Cía. Cervecera Internacional, S.A., The Coca Cola Co., Cía. Ron Bacardí, S.A.,
            San Francisco Mi-neral Water Co., J. Gallarreta y Co., Pedro Domecq y Compañía, Jacinto Rodríguez,
            Claudio Conde, Francisco Tamames S. en C, Nolasco Paniagua, Brochi y Co., Manzarbeitia y Co.,
            Manuel Rabanal y la Cía. de Gaseosa La Paz.
        </p>
        <img class="img-responsive img-border img-left" width="180" src="<%= image_path('history/image12.jpg') %>" alt="">
        <img class="img-responsive img-border img-right" width="190" src="<%= image_path('history/image15.jpg') %>" alt="">
        <p>
            Unos días después, el club establece su cuartel en un local en los altos de la calle Bernaza esquina a
            Obrapía en La Habana Vieja; tiempo después se traslada a Malecón No. 15, en los altos, rentando un
            apartamento, que al considerarse excesivo el impuesto a pagar deciden permutar para la calle Avenida de la
            República (en la calle San Lázaro) No. 69,bajos.
        </p>
        <p>
            Posteriormente, y por diversas razones,resuelven volver a cambiar su domicilio social
            y se reubican en la calle Prado, No. 105, altos, frente al Capitolio Nacional, el 27 de enero de
            1927, donde permaneció hasta el 31 de mayo de 1941 , fecha en que el Club de manera definitiva se
            trasladó a su casa propia, de cuatro plantas, situada en Paseo de del Prado No. 111, con un logo empotrado
            en el piso de la entrada, que por sus insignia del sol y la esfera del universo, sus triángulos y la frase
            “F​RATERNIDAD Y ​P​ROGRESO​”, ​aunque no existen pruebas firmes, pudiéramos decir que en su
            creación o en su fundación estuvo presente la institución masónica.
        </p>
        <img class="img-responsive img-border img-left" width="300" src="<%= image_path('history/image14.jpg') %>" alt="">
        <p>
            En 1928, la directiva del Club convoca al 1. er Festival de Cantineros “Cuba y España”, en los Jardines de la
            Tropical, para recaudar fondos para las arcas del Club. Por citar un ejemplo de la solidaridad, compañerismo,
            fraternidad y amor que reinaba entre sus miembros, es necesario destacar que en el año
            1931, había una crisis económica muy aguda en Cuba y la lista de los sin trabajo era muy
            numerosa entre los asociados y fue que la dirección del Club organizó el 23 de abril de ese
            año, una Verbena en el estadio de La Polar, donde los beneficios que se recaudaron (1589.00
            pesos), se repartieron entre todos los cesantes, tocando a 57.50 pesos para cada uno.
        </p>
        <img class="img-responsive img-border img-right" width="300" src="<%= image_path('history/image05.jpg') %>" alt="">

        <p>
            En esa instalación, se celebraron numerosas actividades y festejos por el Día del Cantinero, para el
            cual fue seleccionado el primer domingo del mes de octubre del año 1956, que coincidió con ser el 7
            de octubre, por lo que por decisión de los directivos, se acordó designar este día como el Día del
            Cantinero.
        </p>
        <p>
            Las actividades que se realizaban para celebrar este día eran variadas. Se efectuaban en los Jardines de la
            Tropical, en La Polar, en Tropicana, entre otros establecimientos de la ciudad. También se convirtió en una
            tradición ese día que los cantineros sembraran un árbol para garantizar, de esta forma ecológica, la belleza
            y permanencia naturales de la ciudad.
        </p>
        <img class="img-responsive img-border img-left" width="150" src="<%= image_path('history/image13.jpg') %>" alt="">
        <p>
            El primer presidente del Club de Cantineros de la República de Cuba fue JOSÉ CUERVO, que oficiaba entre los
            primeros cafés habaneros, se consagró desde muy temprano al trabajo duro; y con mucho talento y sacrificio
            fue ascendiendo laboral y culturalmente.
        </p>
        <p>
            Trabajó en varios establecimientos de renombre, tales como el Gran Casino Nacional, siendo el primer
            cantinero cubano que rompiera el hechizo de los bármanes norteamericanos que años tras
            años eran traídos para trabajar en el Casino y otros bares de lujo. En el momento de su
            elección como presidente, trabajaba en el Café Ambos Mundos, posterior inauguró como
            jefe de cantina el Hotel Nacional, el Habana Biltmore-Yacht y el Country Club, trabajó en el
            Hotel Presidente, en el Habana Yacht Club y como presidente en la Agencia de la cervecera
            Polar, en Santiago de Cuba, donde murió el 21 de septiembre de 1942. Impartió clases en los
            Estados Unidos sobre cómo hacer cocteles con el sabroso Ron San Carlos, bajo su iniciativa
            se crearon las clases de coctelería para asociados, dotando al Club además del primer
            Manual del Cantinero.
        </p>
        <p>
            En 1930, se editó el primer Recetario de Coctelería en Cuba confeccionado por el Club de
            Cantineros.
        </p>
        <p>
            El Club de Cantineros de la República de Cuba tuvo sus contradicciones, pero se unió a otras
            entidades, y en el año 1933, se vio enfrascado en la huelga general contra la tiranía de
            Machado. Sus miembros lucharon por la jornada de ocho horas y porque se declarara al
            cantinero como una profesión técnica, y lo demostraron, creando clases, conferencias y
            concursos de coctelería. Lucharon además contra la patronal y obtienen éxitos en los
            salarios.
        </p>
        <img class="img-responsive img-border img-right" width="320" src="<%= image_path('history/image10.jpg') %>" alt="">

        <p>
            En este mismo año, y a raíz de la Ley Revolucionaria de Nacionalización del Trabajo
            (Ley del 50%), crearon la Escuela Técnica Profesional del Cantinero, con un curso de 90
            días y clases de idioma Inglés, encaminada a formar a los profesionales naturales de Cuba,
            ya que casi la totalidad de los miembros en ese momento (aproximadamente
            600), eran extranjeros que vivían y laboraban en Cuba; aunque mucho antes
            de esta Ley ya el club venía formando a sus cantineros cubanos para trabajar los
            bares y ejemplo de esto es que en 1928 los bares de los principales
            establecimientos en La Habana eran ya trabajados en su totalidad por ellos, y en 1929,
            cuando se inaugura el Hotel Nacional, su nómina era totalitaria de cantineros del patio.
        </p>
        <img class="img-responsive img-border img-left" width="320" src="<%= image_path('history/image07.jpg') %>" alt="">

        <p>
            En 1934, con el surgimiento de la Ley de Nacionalización del Trabajo, el Club de Cantineros
            de la República de Cuba, se dio a la tarea de demostrar y probar que el trabajo que se
            ejecutaba en los bares y cantinas, era “técnico” y que para esto era necesario preparar y
            adiestrar en esas labores a cualquiera que lo ejerciera, logrando su profesionalidad y una
            particular habilidad práctica.
        </p>
        <p>
            A principios del mismo año, 1934, los propietarios del Bar Inglaterra y del Bar Regina, no
            querían cumplir con la jornada de ocho horas, ni dar el día de descanso a la semana y
            obligaban a sus empleados a que limpiaran los pisos y otros servicios. Ante este reclamo, los
            dueños trataron de vencerlos, negándoles el pago de sus salarios, lo que dio lugar a una
            huelga que duró más de veinte días y que gracias a la labor e intervención del Club de
            Cantineros, se logró que los dueños cumplieran las exigencias demandadas, reintegraran los
            salarios perdidos y el resto de las de-mandas.
        </p>
        <img class="img-responsive img-border img-right" width="320" src="<%= image_path('history/image08.jpg') %>" alt="">

        <p>
            El primer evento de coctelería que realizara el antiguo Club de Cantineros, transcurrió del 16 al 24
            de noviembre de 1936 y demostró la madurez alcanzada por esa joven organización. Ese encuentro tuvo una
            duración de siete días, pues en cada jornada se concursó con una bebida base distinta. El primer día, se
            compitió con vermouth blanco y rojo; el segundo día, con ron; el tercero, tendría como base coñac o champán;
            el cuarto día, serviría de base ginebra; el quinto, se concursaba con whisky; el sexto, se competía creando
            los denominados cups; y por último, se prepararon los denominados pluses.
        </p>
        <p>
            Como dato interesante podemos señalar que cada cantinero competidor debería elaborar
            siete cocteles de un mismo tipo, los cuales serían degustados por un número de ocho a 10
            miembros de los jurados. El personal encargado de impartir sentencia (el jurado), no eran
            cantineros profesionales ni dirigentes del Club, sino ciudadanos normales, personalidades de
            la vida pública y social, asiduos bebedores, propietarios de hoteles, presidentes de
            sociedades deportivas, administradores de compañías de ron y cerveza, personal de la
            corporación nacional de turismo, periodistas y escritores, representantes de cafés y bares de
            La Habana, miembros del ejército, la marina y la policía nacional.
        </p>
        <p>
            La primera revista que publica el club llevó por título El Bar. Este fue un acuerdo entre los
            miembros de la organización, aprobado por la Asamblea General el 28 de mayo de 1926,
            pero su duración fue extremadamente corta. Luego se asumen varios proyectos a lo largo de
            muchos años, pero ninguno logró encajar tan bien en los intereses de la agrupación como la
            revista fundada en octubre de 1952.
        </p>
        <img class="img-responsive img-border img-left" width="120" src="<%= image_path('history/image03.jpg') %>" alt="">
        <img class="img-responsive img-border img-right" width="120" src="<%= image_path('history/image02.jpg') %>" alt="">

        <p>
            Esta revista profesional mensual llamada Coctel, se editó y publicó por primera vez en septiembre de
            1956, y entre muchos de sus interesantes y variados artículos, se destacaba uno en
            el que se explicaba la importancia que tenía para el cantinero el aprender a hablar
            inglés como complemento de su trabajo y exhortándolos a que participaran en las clases que
            impartían en el centro con un método efectivo a base de conversaciones sobre el giro, acompañado de
            una sencilla preparación gramatical. Esta revista se estuvo publicando hasta 1960.
        </p>
        <img class="img-responsive img-border img-right" width="120" src="<%= image_path('history/image00.jpg') %>" alt="">

        <p>
            Además, existió una Caja de Asistencia Social para auxiliar a los afiliados en caso de
            enfermedad y jubilación, que actualmente no existe como tal, pero sí se les brinda ayuda
            económica a los miembros que presenten cualquier problema grave, ya
            sea por enfermedad o personal, en sus respectivos Comités Gestores.
            El Club de Cantineros de la República de Cuba tuvo una vida activa hasta
            1960, y las llaves de la casa social, luego de cerradas sus puertas, se
            guardaron por ELIO MOYA AGUIAR, su último presidente. Nunca fue
            intervenido por la Revolución y continuó ofreciendo servicio hasta que se
            desintegró para formar parte de un Sindicato Gastronómico Nacional.
        </p>
    </div>
</div>